<div class="container position-relative pt-5">
    <h1>
        {{ title }}
    </h1>

    <app-post-form
        (onAdd)="addPost($event)"
    ></app-post-form>

    <button
        class="btn btn-primary"
        (click)="increasePost()"
    >+</button>
    <button
        class="btn btn-primary"
        (click)="decreasePost()"
    >-</button>

    <hr class="mt-4 mb-5">

    <app-post
        *ngFor="let post of filteredPosts"
        [post]='post'
        (remove)="onRemove($event)"
    >
        <small *ngIf="post.text.length > 50" class="text-muted">Long read</small>
    </app-post>

    <app-clock></app-clock>
</div>
