<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand" routerLink="">Angular</a>
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <button
                    id="blog"
                    class="nav-link"
                    [routerLink]="['posts']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Posts Page
                </button>
            </li>
            <li class="nav-item ms-3">
                <button
                    id="blog"
                    class="nav-link"
                    [routerLink]="['blog']"
                    routerLinkActive="active"
                >
                    Blog
                </button>
            </li>
            <li class="nav-item ms-3">
                <button
                    id="form"
                    class="nav-link"
                    [routerLink]="['form']"
                    routerLinkActive="active"
                >
                    Form
                </button>
            </li>
            <li class="nav-item ms-3">
                <button
                    id="httpClientForm"
                    class="nav-link"
                    [routerLink]="['todos']"
                    routerLinkActive="active"
                >
                    Todo
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="container position-relative pt-5">
    <router-outlet></router-outlet>
    <app-clock></app-clock>
</div>
